body { /* basics overall */
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}


 /* button and para settings, defined size and margins */
button {
    padding: 10px 20px;
    font-size: 16px;
}

p {
    font-size: 20px;
    margin-top: 20px;
}
